@let messagesPerField = kcContext.messagesPerField;
@let realm = kcContext.realm;
@let url = kcContext.url;

<ng-template #headerNode>
  {{ i18n.msgStr('updatePasswordTitle') }}
</ng-template>

<div class="kc-login-card">
  <div class="kc-login-brand">
    <div
      class="kc-login-logo"
      [innerHTML]="realm.displayNameHtml | kcSanitize: 'html'"
    ></div>
    <h1 class="kc-login-title"><ng-container [ngTemplateOutlet]="headerNode" /></h1>
  </div>

  <div class="kc-login-form">
    <form
      id="kc-passwd-update-form"
      method="post"
      [action]="url.loginAction"
      (keydown.enter)="handleEnter($event, 'updatePasswordBtn')"
    >
      <div class="kc-form-content">
        <mat-form-field
          appearance="outline"
          class="kc-field"
        >
          <mat-label>{{ i18n.msgStr('passwordNew') }}</mat-label>
          <input
            matInput
            id="password-new"
            name="password-new"
            [type]="isNewPasswordVisible() ? 'text' : 'password'"
            autocomplete="new-password"
            autofocus
            [title]="i18n.msgStr('passwordNew')"
            [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleNewPasswordVisibility()"
            [attr.aria-label]="i18n.msgStr('showPassword')"
          >
            <mat-icon>{{ isNewPasswordVisible() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (messagesPerField.existsError('password')) {
            <mat-error [innerHTML]="messagesPerField.get('password') | kcSanitize: 'html'"></mat-error>
          }
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="kc-field"
        >
          <mat-label>{{ i18n.msgStr('passwordConfirm') }}</mat-label>
          <input
            matInput
            id="password-confirm"
            name="password-confirm"
            [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
            autocomplete="new-password"
            [title]="i18n.msgStr('passwordConfirm')"
            [attr.aria-invalid]="messagesPerField.existsError('password', 'password-confirm')"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
            [attr.aria-label]="i18n.msgStr('showPassword')"
          >
            <mat-icon>{{ isConfirmPasswordVisible() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (messagesPerField.existsError('password-confirm')) {
            <mat-error [innerHTML]="messagesPerField.get('password-confirm') | kcSanitize: 'html'"></mat-error>
          }
        </mat-form-field>

        <mat-checkbox
          id="logout-sessions"
          name="logout-sessions"
          value="on"
          [checked]="true"
        >
          {{ i18n.msgStr('logoutOtherSessions') }}
        </mat-checkbox>
      </div>

      <div class="kc-form-submit">
        @if (kcContext.isAppInitiatedAction) {
          <button
            mat-stroked-button
            type="submit"
            name="cancel-aia"
            value="true"
            class="kc-register-login-button"
          >
            {{ i18n.msgStr('doCancel') }}
          </button>
        }
        <button
          mat-flat-button
          color="primary"
          type="submit"
          id="updatePasswordBtn"
          class="kc-login-button"
        >
          {{ i18n.msgStr('doSubmit') }}
        </button>
      </div>
    </form>
  </div>
</div>
