@let skipLink = kcContext.skipLink;
@let actionUri = kcContext.actionUri;
@let pageRedirectUri = kcContext.pageRedirectUri;
@let client = kcContext.client;
@let realm = kcContext.realm;

<ng-template #headerNode>
  @let messageHeader = kcContext.messageHeader;
  @let message = kcContext.message;
  <span [innerHTML]="messageHeader ?? i18n.advancedMsgStr(message.summary) | kcSanitize: 'html'"></span>
</ng-template>

<div class="kc-page-card">
  <div class="kc-page-brand">
    <div
      class="kc-page-logo"
      [innerHTML]="realm.displayNameHtml ?? '' | kcSanitize: 'html'"
    ></div>
    <h1 class="kc-page-title"><ng-container [ngTemplateOutlet]="headerNode" /></h1>
  </div>
  <div class="kc-page-form">
    <div class="kc-page-form-layout">
      <div class="kc-form-content">
        <p
          class="kc-instruction"
          [innerHTML]="infoMessage | kcSanitize: 'html'"
        ></p>
      </div>
      @if (!skipLink) {
        <div class="kc-form-submit">
          @if (pageRedirectUri) {
            <a
              mat-flat-button
              color="primary"
              [href]="pageRedirectUri"
              [innerHTML]="i18n.msgStr('backToApplication') | kcSanitize: 'html'"
            ></a>
          } @else if (actionUri) {
            <a
              mat-flat-button
              color="primary"
              [href]="actionUri"
              [innerHTML]="i18n.msgStr('proceedWithAction') | kcSanitize: 'html'"
            ></a>
          } @else if (client.baseUrl) {
            <a
              mat-flat-button
              color="primary"
              [href]="client.baseUrl"
              [innerHTML]="i18n.msgStr('backToApplication') | kcSanitize: 'html'"
            ></a>
          }
        </div>
      }
    </div>
  </div>
</div>
