@let url = kcContext.url;
@let credentialLabel = kcContext.credentialLabel;
@let realm = kcContext.realm;

<ng-template #headerNode>
  {{ i18n.advancedMsgStr('deleteCredentialTitle', $any(credentialLabel)) }}
</ng-template>

<div class="kc-page-card">
  <div class="kc-page-brand">
    <div
      class="kc-page-logo"
      [innerHTML]="realm.displayNameHtml | kcSanitize: 'html'"
    ></div>
    <h1 class="kc-page-title"><ng-container [ngTemplateOutlet]="headerNode" /></h1>
  </div>

  <div class="kc-page-form">
    <div class="kc-page-form-layout">
      <div class="kc-form-content">
        <p class="kc-instruction">
          {{ i18n.advancedMsgStr('deleteCredentialMessage', $any(credentialLabel)) }}
        </p>
      </div>

      <div class="kc-form-submit">
        <form
          method="post"
          [action]="url.loginAction"
          class="kc-form-contents"
          (keydown.enter)="handleEnter($event, 'kc-accept')"
        >
          <button
            mat-stroked-button
            type="submit"
            name="cancel-aia"
            value="true"
            id="kc-decline"
          >
            {{ i18n.msgStr('doCancel') }}
          </button>
          <button
            mat-flat-button
            color="warn"
            type="submit"
            name="accept"
            id="kc-accept"
          >
            {{ i18n.msgStr('doConfirmDelete') }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
