@let url = kcContext.url;
@let messagesPerField = kcContext.messagesPerField;
@let realm = kcContext.realm;

<ng-template #headerNode>
  {{ i18n.msgStr('doLogIn') }}
</ng-template>

<div class="kc-page-card">
  <div class="kc-page-brand">
    <div
      class="kc-page-logo"
      [innerHTML]="realm.displayNameHtml ?? '' | kcSanitize: 'html'"
    ></div>
    <h1 class="kc-page-title"><ng-container [ngTemplateOutlet]="headerNode" /></h1>
  </div>
  <div class="kc-page-form">
    <form
      id="kc-form-login"
      method="post"
      [action]="url?.loginAction"
      (onSubmit)="isLoginButtonDisabled.set(true)"
    >
      <div class="kc-form-content">
        <mat-form-field
          appearance="outline"
          class="kc-field"
        >
          <mat-label>{{ i18n.msgStr('password') }}</mat-label>
          <input
            matInput
            id="password"
            name="password"
            [type]="isPasswordVisible() ? 'text' : 'password'"
            aria-describedby="input-error-password"
            [required]="true"
            [autofocus]="true"
            autocomplete="on"
            [tabindex]="1"
            [attr.aria-invalid]="messagesPerField.existsError('password')"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="i18n.msgStr('showPassword')"
          >
            <mat-icon>{{ isPasswordVisible() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (messagesPerField.existsError('password')) {
            <mat-error [innerHTML]="messagesPerField.getFirstError('password') | kcSanitize: 'html'"></mat-error>
          }
        </mat-form-field>

        <div class="kc-form-options">
          <div></div>
          @if (realm.resetPasswordAllowed) {
            <a
              mat-button
              tabindex="5"
              [href]="url.loginResetCredentialsUrl"
              class="kc-forgot-password"
            >
              {{ i18n.msgStr('doForgotPassword') }}
            </a>
          }
        </div>
      </div>

      <div class="kc-form-submit">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          id="kc-login"
          name="login"
          class="kc-login-button"
          [disabled]="isLoginButtonDisabled()"
          [tabindex]="4"
        >
          @if (isLoginButtonDisabled()) {
            <mat-spinner
              diameter="20"
              class="kc-spinner"
            ></mat-spinner>
          }
          {{ i18n.msgStr('doLogIn') }}
        </button>
      </div>
    </form>
  </div>
</div>
