@let url = kcContext.url;

<div class="kc-page">
  <div class="kc-page-header">
    <h2 class="kc-page-title">{{ i18n.msgStr('changePasswordHtmlTitle') }}</h2>
  </div>

  <div class="kc-page-card">
    <div class="kc-redirect-guide">
      <div class="kc-redirect-icon">
        <mat-icon>password</mat-icon>
      </div>
      <div class="kc-redirect-content">
        <p class="kc-redirect-message">{{ i18n.msgStr('passwordChangeRedirectMessage') }}</p>
      </div>
      <div class="kc-redirect-action">
        <a
          mat-flat-button
          color="primary"
          [href]="getPasswordUpdateUrl()"
        >
          <mat-icon>arrow_forward</mat-icon>
          {{ i18n.msgStr('passwordChangeButton') }}
        </a>
      </div>
    </div>
  </div>
</div>
